nav h2 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: lazure;
}

h2 {
  font-size: 1.5rem;
  color: #303030;
  text-decoration: underline;
  text-decoration-color: red;
}

p {
  font-size: 18px;
}

.quote {
  color: darkslategrey;
  font-style: italic;
  font-weight: bold;
}

#main-image {
  border: 5px solid slateblue;
}
h1 {
  text-align: center;
}

ol {
  list-style-type: upper-roman;
}
.op{
  text-align: center;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:visited {
  color: violet;
}

a:hover {
  color: mediumseagreen;
}
section {
  color: blue;
  padding: 10px;
  margin-top: 10px;
}
#section1 {
  text-align: left;
}
.tech {
  border: 3px solid darkolivegreen;
}
.spaceflight {
   border: 3px solid darkmagenta;
}
.science-astronomy {
  border: 3px solid darkcyan;
}
.tech h2{
  color: darkgrey;
}
.header h2 {
  padding-left: 10px;
  border-left: 3px solid darksalmon;
}
.nav h1 {
  border-left: 4px solid;
}
  #main-header ~ .main-footer {
    padding: 10px;
    margin-top: 10px;
    border: 3px solid darkkhaki;
  }
  ol > li:first-child {
      border-bottom: 3px solid darkmagenta;
  }
  ol > li:last-child {
      border-top: 3px solid darkturquoise;
  }
.main-footer a:hover {
      color: yellowgreen;
  }
a:focus {
      background-color: yellow;
  }
.tech h2::before {
      content: '�';
  }
.spaceflight > h2::after {
      content: '�';
  }
